<div class= "form-container">
  <div class="w-100 h-100">

      <h2>Sign up</h2>
      <div class="custom-container">
          <div class="w-50">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>
                <div class="">
                  <%= f.input :first_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "first_name" }%>
                  <%= f.input :last_name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "last_name" }%>
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email" }%>
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password" } %>
                  <%= f.input :age,
                              required: true,
                              input_html: { autocomplete: "age" } %>
                  <%= f.input :photo, as: :file,
                              required: false %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Sign up" %>
                </div>
              </div>
            <% end %>
        <div class="w-50">
          <img src="https://i0.wp.com/www.lecourrierdelatlas.com/wp-content/uploads/2022/03/Salahdine-Parnasse.jpg?resize=850%2C560&ssl=1" alt="" class="image-boxeur">
          <img src="" alt="">
        </div>
          </div>

      </div>
      <%= render "devise/shared/links" %>
    <div>

  </div>
</div>
