<div class="search-wrapper">
  <div class="card-row">
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
    <div class="card"> <%= image_tag("MMA 4.png") %> </div>
    <div class="card"> <%= image_tag("laura.jpeg") %> </div>
    <div class="card"> <%= image_tag("MMA 3.png") %> </div>
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
  </div>
  <div class="card-row search-row">
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
    <div class="search d-flex">
      <p class="top-left ms-4 mt-4">Tired of being safe all the time ?</p>
      <p class="middle-right me-4 mb-4">- Find people to come beat you up !</p>
      <a href="index.html" class="bottom btn btn-primary">Get recked!</a>
    </div>
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
  </div>
  <div class="card-row">
    <div class="card"> <%= image_tag("macgregr.jpeg") %> </div>
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
    <div class="card"> <%= image_tag("Végéta.png") %> </div>
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
    <div class="card"> <%= image_tag("MMA 1.png") %> </div>
  </div>
</div>
