<div class="container w-80">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mx-1 my-3 text-secondary">Browse available boxers near you 🥊</h1>
    <%= link_to new_boxer_path do %>
      <button class="btn btn-primary my-3">New boxer</button>
    <% end %>
  </div>

  <%= form_with url: boxers_path, method: :get, class: "d-flex align-items-center" do |f| %>
  <div class="form-inputs" data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <%= text_field_tag :address,
    params[:address],
    class: "d-none",
    data: {address_autocomplete_target: "address"}
  %>
  </div>
  <div class="form-actions">
    <%= f.submit "Search boxers", class: "filter-submit" %>
  </div>
  <% end %>

  <div class="row">
  <% @boxers.each_slice(3).with_index do |boxers_row, index| %>
    <% boxers_row.each do |boxer| %>
      <div class="col-4 p-3">
      <%= link_to boxer_path(boxer), class: "text-decoration-none text-secondary" do %>
        <div class="card-product thicker-card">
          <%= cl_image_tag boxer.photo.key, height: 100, width: 100, crop: :fill %>
          <div class="card-product-infos">
            <h2><%= "#{boxer.first_name} #{boxer.last_name}" %></h2>
            <p><%= "Age: #{boxer.age} years old" %></p>
            <p><%= "Height: #{boxer.height} cm" %></p>
            <p><%= "Weight: #{boxer.weight} kgs" %></p>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
