<h1>test Index</h1>
<%= link_to 'New Boxer', new_boxer_path %>
<div class="row">
<% @boxers.each do |boxer| %>
    <div class="col-3 p-3">
    <%= link_to boxer_path(boxer) do %>
      <div class="card-product">
        <%= cl_image_tag boxer.photo.key, height: 100, width: 100, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= "#{boxer.first_name} #{boxer.last_name}" %></h2>
          <p><%= "Age: #{boxer.age}" %></p>
          <p><%= "Height: #{boxer.height}" %></p>
          <p><%= "Weight: #{boxer.weight}" %></p>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
</div>
