<div class="form-container-bd -mt-5">
  <div class="new_user w-50 p-4">
    <h2 class="form-title">Become Our Next Challenger 💪</h2>
    <div class="custom-controls w-75 mx-auto">
      <%= simple_form_for @boxer, html: { id: "my_form_id" } do |f| %>
      <div class="d-flex w-100 gap-5">
        <div class="w-50">
          <%= f.input :first_name, label: 'First Name' %>
          <%= f.input :last_name, label: 'Last Name' %>
          <%= f.input :age, label: 'Age' %>
          <%= f.input :weight, label: 'Weight' %>
          <%= f.input :height, label: 'Height' %>
        </div>
        <div class="w-50">
          <%= f.input :address, label: 'Address' %>
          <%= f.input :price_per_day, label: 'Price per Day' %>
          <%= f.input :gender, label: 'Gender' %>
          <%= f.input :availability_radius, label: 'Availability Radius' %>
          <%= f.input :photo, as: :file %>
        </div>
      </div>
        <%= f.button :submit, class: "mx-auto" %>
      <% end %>
    </div>
  </div>
  <div>
  <%= image_tag('img-fighter.png', size: 130, class: "rounded-circle child-avatar6") %>
  <%= image_tag('MMA_3.png', size: 100, class: "rounded-circle child-avatar7") %>
  <%= image_tag('mcgregor.jpg', size: 300, class: "rounded-circle child-avatar8") %>
  <%= image_tag('quarteron.jpg', size: 150, class: "rounded-circle child-avatar9") %>
  <%= image_tag('rayan.jpg', size: 200, class: "rounded-circle child-avatar10") %>
  </div>
</div>
