<h1><%= @boxer.first_name %> <%= @boxer.last_name %></h1>

<p>
  <strong>First Name:</strong>
  <%= @boxer.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @boxer.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @boxer.age %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @boxer.weight %>
</p>

<p>
  <strong>Height:</strong>
  <%= @boxer.height %>
</p>

<p>
  <strong>Address:</strong>
  <%= @boxer.address %>
</p>

<p>
  <strong>Price Per Day:</strong>
  <%= @boxer.price_per_day %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @boxer.gender %>
</p>

<p>
  <strong>Availability Radius:</strong>
  <%= @boxer.availability_radius %>
</p>

<%= link_to 'Back', boxers_path %>
